<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dry Goods Design|About Page|WEB200</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>
<body>
    <header>
        <div id="logo">
        <a href="index.html"><img src="images/logo.png" alt="logo"></a>
        </div><!--end logo-->
    </header>
    
    <nav>
        <span class="buger-toggle">&#8801;</span>
        <ul class="nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <li class="button-dropdown">
                <a href="#" class="dropdown-toggle"><span class="arrow-toggle">▼</span></a>
                <ul class="dropdown-menu">
                    <li><a href="fabrics.html">FABRICS</a></li>
                    <li><a href="#">GOODS</a></li>
                    <li><a href="new-arrival.html">NEW ARRIVAL</a></li>
                    <li><a href="sale.html">SALE</a></li>
                    <li><a href="#">GIFT CARDS</a></li>
                </ul><!--end Store dropdownlist-->
            </li><!--end button-dropdown-->
            <li><a href="store.html" class="store">STORE</a></li>
            <li><a href="do.html">MAKE|DO|MEND</a></li>
            <li><a href="contact.php">CONTACT</a></li>
            <li><a href="resources.html">RESOURCES</a></li>
        </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--MY OWN JS-->    
    <script src="js/dropdown-menu.js"></script>
    </nav><!--end nav bar-->
    
    <div id="wrapper">
        <main>
            <img src="images/drygoodfront.png" alt="store">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo, elit in mattis viverra, dui velit consectetur lacus, a scelerisque magna dolor sed leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ut placerat odio. In convallis ipsum at arcu porttitor ultricies. Pellentesque tincidunt condimentum scelerisque. Curabitur lobortis in turpis sed bibendum. Aenean justo neque, efficitur pellentesque sodales viverra, tempor id orci. Pellentesque posuere sit amet est ut mattis. Fusce tempus dapibus turpis non facilisis. Curabitur id eleifend turpis. Mauris id luctus ante. Proin in sem dolor.</p>
            <h2>About Our Products</h2>
            <p>Vivamus congue lobortis felis non tincidunt. Morbi commodo dui leo, et feugiat est interdum a. Sed sem nulla, molestie nec suscipit eu, hendrerit nec ante. Vestibulum fermentum tincidunt sem sed sagittis. Aliquam erat volutpat. Nullam vel aliquam lectus. Cras imperdiet lectus sapien, quis tempor nulla vestibulum at. Aliquam sagittis aliquam ante in molestie. Cras feugiat augue ut vehicula egestas. Duis interdum ut urna ut vulputate. In hac habitasse platea dictumst. Nulla euismod luctus fermentum. Sed dapibus, dui vitae tempus congue, tellus libero maximus odio, aliquet malesuada ante est sit amet nisi. Aliquam rhoncus, tellus ut ultricies posuere, mauris nunc malesuada lorem, eget iaculis diam odio quis ante. Phasellus ultrices lacus ex, vitae euismod nulla viverra vel.</p>
            <h2>Classes and Studio</h2>
            <p>Nam porttitor odio feugiat, molestie lectus sed, aliquet risus. Phasellus porttitor volutpat massa, vel interdum libero viverra sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent vehicula sem nisl, sed condimentum eros aliquet eget. Proin aliquam pharetra sem a scelerisque. Duis at magna eu erat luctus tincidunt ornare sit amet massa. Ut sit amet nulla et mi condimentum suscipit id id orci. Nunc convallis faucibus convallis. Etiam id ligula non sem faucibus fermentum.</p>
        </main>
        <aside>
            <h4>Join Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque commodo, elit in mattis viverra, dui velit consectetur lacus, a scelerisque magna dolor sed leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ut placerat odio. In convallis ipsum at arcu porttitor ultricies. </p>
            <h4>Start Selling Your Own Works</h4>
            <p>Nam porttitor odio feugiat, molestie lectus sed, aliquet risus. Phasellus porttitor volutpat massa, vel interdum libero viverra sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent vehicula sem nisl, sed condimentum eros aliquet eget. Proin aliquam pharetra sem a scelerisque. Duis at magna eu erat luctus tincidunt ornare sit amet massa. Ut sit amet nulla et mi condimentum suscipit id id orci. Nunc convallis faucibus convallis. Etiam id ligula non sem faucibus fermentum.</p>
        </aside>
    </div><!--end wrapper-->
</body>
    
<footer>  
    <div id="footer-inner">
    <div class="box1">
        <iframe src="https://calendar.google.com/calendar/embed?title=Coming%20Up%20Events&amp;showTitle=0&amp;showCalendars=0&amp;wkst=1&amp;bgcolor=%23ffcccc&amp;src=seattlecentral.edu_iclpga062ajksgpdbm24em17i4%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FLos_Angeles" style="border-width:0" height="300" scrolling="yes"></iframe>    
    </div><!--end box1-->
    <div class="box2">
        <h4>Operating Hours</h4>
        <p>Monday - Friday: 10am - 7pm</p>
        <p>Saturday,Sunday: 10:30am - 5:30pm</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.7176809532657!2d-122.35244538436794!3d47.651052779187665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549015074bbd3f2b%3A0x25e4c4ee61073c9f!2s3516+Fremont+Pl+N%2C+Seattle%2C+WA+98103!5e0!3m2!1sen!2sus!4v1463110072223"></iframe>
    </div><!--end box2-->
    <div class="box3">
        <h4>Follow Us</h4>
        <ul class="social">
            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
        </ul><!--end social-->    
    </div><!--end box3-->
        
    <div id="copyright">
        <ul>
            <li><small>Copyright 2017,&copy;</small></li>  
            <li><small>All Rights Reserved</small></li>    
            <li><small>Web Design by Trang Pham</small></li>
            <li class="no-padding"><a href="http://validator.w3.org/check?uri=referer" style="background-color: transparent"><img src="images/HTML5_Badge.png" alt="Valid HTML"/></a></li>    
            <li class="no-padding"><a href="http://jigsaw.w3.org/css-validator/check/referer" style="background-color: transparent"><img src="images/css.jpg" alt="Valid CSS!" /></a></li> 
        </ul>  
    </div><!--end copyright-->
    </div><!--end footer-inner-->
</footer>      
</html>